* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

@font-face {
	font-family: 'digital-7-mono';
	src: url('./assets/fonts/digital-7/digital-7-mono.ttf');
}

@font-face {
	font-family: 'OPTIEEdgar-Bold';
	src: url('./assets/fonts/OPTIEdgar-Bold_Extended/OPTIEdgarBold-Extended.otf');
}

body {
	background-color: #0191d7;
	background-image: url(./assets/joanna-kosinska-LAaSoL0LrYs-unsplash.jpg);

	background-size: cover;
	background-repeat: no-repeat;
}

.main {
	margin: 0 auto;

	text-align: center;
}

.calculator {
	margin: 9rem auto;
	display: inline-block;

	background: linear-gradient(#49474e, #28272b);
	padding: 2rem;
	border-radius: 0.9rem;
	box-shadow: 0px 10px 20px 0 #000;
}

.calculator-model-details {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 1rem;
}

.calculator-model-details:first-child {
	font-family: 'OPTIEEdgar-Bold', sans-serif;
	font-size: 2rem;
	font-weight: 600;
	color: #fff;
}

.model-details {
	font-family: 'Comfortaa';
	font-size: 1rem;
}

.screen {
	background: radial-gradient(#d3e1e1, #adb9b9);
	max-width: 40rem;
	height: 10rem;
	margin-bottom: 0.9rem;
	border-radius: 0.5rem;
	cursor: grab;
	box-shadow: inset 0 0 0px 3px #6a7272;
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	align-items: flex-end;
	/* justify-content: flex-end; */

	font-family: 'digital-7-mono', sans-serif;
}

.current-equation {
	font-size: 3rem;
	padding-top: 0.5rem;
	padding-right: 1rem;
	text-shadow: 3px 3px 0 #999;
}

.results {
	margin-top: auto;

	font-size: 5.8rem;
	font-weight: 500;
	padding-bottom: 2rem;
	padding-right: 1rem;
	text-shadow: 3px 3px 0 #999;
}

.keypad {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr 1fr;
	gap: 1rem;

	max-width: 50rem;
}

.solar-cell {
	grid-column: 1 / 3;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	column-gap: 0.1rem;
	background-color: #2b1d1a8a;

	height: 90%;
	width: 100%;

	cursor: grab;
	border-radius: 0.6rem;
	box-shadow: 0 0 0px 3px #2c2c30;
}

.cell {
	background: radial-gradient(#2b1d1a, #1b1210);
}

.cell:first-child {
	border-top-left-radius: 0.6rem;
	border-bottom-left-radius: 0.6rem;
}

.cell:nth-child(4) {
	border-top-right-radius: 0.6rem;
	border-bottom-right-radius: 0.6rem;
}

.key {
	font-family: 'Inter tight', sans-serif;
	font-weight: 400;
	font-size: 4rem;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 9px;
	color: #fff;

	background: radial-gradient(#5c5c5e, #404042);
	border: 1px solid transparent;
	outline: none;
	cursor: pointer;
	box-shadow: 0 5px #413c3c;
	transition: all 0.05s;
}

.text-keys {
	font-size: 2rem;
	padding: 1rem;
	background: radial-gradient(#ca470ac5, #f35308c5);
	box-shadow: 0 5px #8a3006c5;
}

.key--green {
	background: radial-gradient(#01c401, #017a01);
	box-shadow: 0 5px #015001;
}

.key--equals {
	background: radial-gradient(#165de2, #1350c2);
	box-shadow: 0 5px #0e3b8f;
}

.key:active {
	border: 1px solid #272626;
	box-shadow: none;
	transform: translateY(5px);
}

.active {
	border: 1px solid #272626;
	transform: translateY(5px);
	box-shadow: none;
}

.plus-sign {
	grid-row: 4 / 6;
	grid-column: 4 / 5;
}
